Django==5.0.4
django-cors-headers==4.6.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
openai==1.14.1
pdf2image==1.17.0
prompt-toolkit==3.0.43
pyparsing==3.1.2
PyPDF2==3.0.1
pytesseract==0.3.10
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
